<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "style3.css">
    <style>
      body {
    background-color: skyblue;
}
.header1 {
    color: white;
    margin-left: 20px;
    font-family: Arial;
    font-weight: bold;
}
    </style>
</head>
<body>
    <div class = "content-div">
        
    </div>
    <script>
      let contentDiv = document.querySelector('.content-div');
contentDiv.innerHTML = `
     <h2 class = 'header1'>Voter Details</h2>
`;
    </script>
</body>
</html>